<div class="span3 hero-unit">
  <h2>Bookmark Articles</h1>
  <hr />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </p>
</div>
<div class="span3 hero-unit">
  <h2>Personal <span>Dashboard</span></h1>
  <hr/ >
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </p>
</div>
<div class="span3 hero-unit">
  <h2>Recommendations</h1>
  <hr />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </p>
</div>
<div class="span3 hero-unit">
  <h2>Share with Friends</h1>
  <hr />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </p>
</div>