<div class="span3 hero-unit">
  <h2>Dan Lavin</h1>
  <hr />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </p>
</div>
<div class="span3 hero-unit">
  <h2>Abhi Pillai</h1>
  <hr/ >
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </p>
</div>