<div class="span8 hero-unit">
  <h1>Information Overload?</h1>
  <br>
  <h2>Welcome to InfoGraphic.ly...</h2>
  <br>
  <p>A beautifully simple content aggregator that uses data visualization to help you make sense of the information you consume.
  </p>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <br>
</div>
