.hero-unit {
	background-color: #EDEAE3;
	border: 1px #34302D;
	padding:10px #9CCA68;
	
}

.well {
	background-color: #EDEAE3;
	border: 1px #34302D;
}

table{
	background-color: #EDEAE3;
}

th {
	background-color:#34302D;
	color: #999;
}

hr {
	border-color:#34302D;
}

.navi {
	float:right;
	width: 20px;
}

